



<link rel="stylesheet" href="/css/footer.css">
<div id="footer" class="container">
	<div class="col-md-3">
		<a id="footerLogo" href="/">
			<img src="/imgs/footerLogo.jpg" alt="">
			<p>UI+让学习成为习惯</p>
		</a>
	</div>
	<div class="col-md-1">
		<ul id="footer-list">
			<li><a href="#">关于我们</a></li>
			<li><a href="#">版权声明</a></li>
			<li><a href="#">意见反馈</a></li>
			<li><a href="#">联系我们</a></li>
		</ul>
	</div>
	<div class="col-md-7">
		<p>友情链接:
			<a href="#">站酷</a>
			<a href="#">花瓣</a>
			<a href="#">抱图网</a>
			<a href="#">摄图网</a>
			<a href="#">千库</a>
			<a href="#">千图网</a>
		</p>
		<p>京ICP14007358号=1 / 京公网安备11010802014104号 / Powered by 2008=2017 UI.CN</p>
	</div>
	<div class="col-md-1">
		<a href="#"><img style="width:100%;" src="/imgs/erweima.png" alt=""></a>
	</div>
</div>

</div> <!-- 这是最外层闭合标签-->
</body>

</html>