<% include layouts/header%>
<div class="container check_container">
    <p class="text-center">第一阶段考试</p>
    <div class="check_con">
        <span>一、选择题</span>
        <dl>
            <dt>1.PhotoShop的当前状态为全屏显示，而且未显示任何工具箱及任何跳板，在此情况下，按什么键，能够使其恢复为显示工具箱、调班及标题条的正常工作显示状态( )</dt>
            <dd class="col-md-6">A.先按F键，再按Tab键</dd>
            <dd class="col-md-6">B.先按Tab键，再按F键，但顺序绝对不可以颠倒；</dd>
            <dd class="col-md-6">C.先按两次F键，再按两次Tab键</dd>
            <dd class="col-md-6">D.先按Ctrl+Shift+F键，再按Tab键</dd>
        </dl>
        <dl>
            <dt>2.下列哪个是PhotoShop图像最基本的组成单元( )</dt>
            <dd class="col-md-6">A.节点</dd>
            <dd class="col-md-6">B.色彩空间</dd>
            <dd class="col-md-6">C.像素</dd>
            <dd class="col-md-6">D.路径</dd>
        </dl>
        <dl>
            <dt>3.下列哪个是PhotoShop图像最基本的组成单元( )</dt>
            <dd class="col-md-6">A.节点</dd>
            <dd class="col-md-6">B.色彩空间</dd>
            <dd class="col-md-6">C.像素</dd>
            <dd class="col-md-6">D.路径</dd>
        </dl>
        <dl>
            <dt>4.下列哪个是PhotoShop图像最基本的组成单元( )</dt>
            <dd class="col-md-6">A.节点</dd>
            <dd class="col-md-6">B.色彩空间</dd>
            <dd class="col-md-6">C.像素</dd>
            <dd class="col-md-6">D.路径</dd>
        </dl>
        <dl>
            <dt>5.下列哪个是PhotoShop图像最基本的组成单元( )</dt>
            <dd class="col-md-6">A.节点</dd>
            <dd class="col-md-6">B.色彩空间</dd>
            <dd class="col-md-6">C.像素</dd>
            <dd class="col-md-6">D.路径</dd>
        </dl>
        <dl>
            <dt>6.下列哪个是PhotoShop图像最基本的组成单元( )</dt>
            <dd class="col-md-6">A.节点</dd>
            <dd class="col-md-6">B.色彩空间</dd>
            <dd class="col-md-6">C.像素</dd>
            <dd class="col-md-6">D.路径</dd>
        </dl>
        <dl>
            <dt>7.PhotoShop的当前状态为全屏显示，而且未显示任何工具箱及任何跳板，在此情况下，按什么键，能够使其恢复为显示工具箱、调班及标题条的正常工作显示状态( )</dt>
            <dd class="col-md-6">A.先按F键，再按Tab键</dd>
            <dd class="col-md-6">B.先按Tab键，再按F键，但顺序绝对不可以颠倒；</dd>
            <dd class="col-md-6">C.先按两次F键，再按两次Tab键</dd>
            <dd class="col-md-6">D.先按Ctrl+Shift+F键，再按Tab键</dd>
        </dl>
        <dl>
            <dt>8.下列哪个是PhotoShop图像最基本的组成单元( )</dt>
            <dd class="col-md-6">A.节点</dd>
            <dd class="col-md-6">B.色彩空间</dd>
            <dd class="col-md-6">C.像素</dd>
            <dd class="col-md-6">D.路径</dd>
        </dl>
        <dl>
            <dt>9.PhotoShop的当前状态为全屏显示，而且未显示任何工具箱及任何跳板，在此情况下，按什么键，能够使其恢复为显示工具箱、调班及标题条的正常工作显示状态( )</dt>
            <dd class="col-md-6">A.先按F键，再按Tab键</dd>
            <dd class="col-md-6">B.先按Tab键，再按F键，但顺序绝对不可以颠倒；</dd>
            <dd class="col-md-6">C.先按两次F键，再按两次Tab键</dd>
            <dd class="col-md-6">D.先按Ctrl+Shift+F键，再按Tab键</dd>
        </dl>
        <dl>
            <dt>10.下列哪个是PhotoShop图像最基本的组成单元( )</dt>
            <dd class="col-md-6">A.节点</dd>
            <dd class="col-md-6">B.色彩空间</dd>
            <dd class="col-md-6">C.像素</dd>
            <dd class="col-md-6">D.路径</dd>
        </dl>
        <span>二、操作题</span>
        <p>PS动物世界创意合成</p>
        <div class="col-md-8">
            <img src="/imgs/s-konglong.png">
        </div>
        <div class="col-md-4 check_right">
            <button class="btn">下 载 源 文 件</button>
            <button class="btn">下载考核素材</button>
            <p>使用软件PS</p>
            <p>考核阶段：第一阶段</p>
            <p class="check_other">工具和快捷键</p>
            <span class="check_wenzi">选框工具（M）</span>
            <span class="check_wenzi">套索工具（L）</span>
            <span class="check_wenzi">橡皮工具（E）</span>
            <span class="check_wenzi">抓手工具（空格）</span>
            <span class="check_wenzi">放大画面（Ctrl++）</span>
            <span class="check_wenzi">缩小画面（Ctrl--）</span>
            <span class="check_wenzi">合并图层（Ctrl+E）</span>
            <span class="check_wenzi">编组（Alt+G）</span>
            <span class="check_wenzi">放大画笔（}）</span>
        </div>
    </div>
    <button class="btn check_task check_home">提交作业</button>
    <button class="btn check_task">讲师点评</button>

</div>
<% include layouts/footer%>