<% include layouts/header%>
<link rel="stylesheet" href="/css/guanzhu.css">
	<div class="mu">
		<!-- 左半部分开始 -->
		<div class="mu-left">
			<div class="mu-tou"><img src="/imgs/mu-touxiang.png" alt=""></div>
			<!-- 选项卡选的地方 -->
			<div class="mu-xuan">
			<div class="kong"></div>
				<ul>
					<li class="active mu-wdkc">
						<div class="mu-xuantu">
							<img src="/imgs/mu-wdkc.png" alt="">
						</div>&nbsp;&nbsp;&nbsp;我的课程
					</li>
					<li class="mu-jjkh">
						<div class="mu-xuantu">
							<img src="/imgs/mu-jjkh.png" alt="">
						</div>&nbsp;&nbsp;&nbsp;进阶考核
					</li>
					<li class="mu-wdsc">
						<div class="mu-xuantu">
							<img src="/imgs/mu-wdsc.png" alt="">
						</div>&nbsp;&nbsp;&nbsp;我的收藏
					</li>
					<li class="mu-wdgz">
						<div class="mu-xuantu">
							<img src="/imgs/mu-wdgz.png" alt="">
						</div>&nbsp;&nbsp;&nbsp;我的关注
					</li>
					<li class="mu-lsjl">
						<div class="mu-xuantu">
							<img src="/imgs/mu-lsjl.png" alt="">
						</div>&nbsp;&nbsp;&nbsp;历史记录
					</li>
				</ul>
			<!-- 选的地方结束 -->
			</div>
		<!-- 左半部分结束 -->	
		</div>
		<!-- 右半部分我的课程开始 -->
		<div class="mu-right-wdkc">
			<!-- 我的课程里的选项卡 -->
			<div class="mu-right-xuan">
				<div class="mu-xxjd active">学习进度</div>
				<div class="mu-kc">课程</div>
			<!-- 我的课程里的选项卡结束 -->
			</div>
			<div class="mu-xxjd1"><img src="/imgs/mu-xxjd.png" alt=""></div>
			<div class="mu-kc1"><img src="/imgs/mu-kc.png" alt=""></div>
		<!-- 右半部分我的课程结束 -->
		</div>
		<!-- 我的关注里的选项卡 -->
		<div class="mu-right-wdgz">
			<div class="mu-right-xuan1">
				<div class="mu-dt">动态</div>
				<div class="mu-gzdr active">关注的人</div>
				<div class="mu-fs">粉丝</div>
			</div>
			<div class="mu-gzdr1"><img src="/imgs/mu-gzdr.png" alt=""></div>
			<div class="mu-fs1"><img src="/imgs/mu-fs.png" alt=""></div>
		<!-- 我的关注里的选项卡结束	 -->
		</div>

		<!-- 我的收藏开始 -->
		<div class="mu-right-wdsc">
			<img src="/imgs/mu-wdsc1.png" alt="">
		<!-- 我的收藏结束 -->
		</div>
		<!-- 历史记录开始 -->
		<div class="mu-right-lsjl">
			<img src="/imgs/mu-lsjl1.png" alt="">
		<!-- 历史记录结束 -->
		</div>
	</div>

	<script src="js/guanzhu.js"></script>

	<% include layouts/footer%>
