<% include layouts/header %>
<link rel="stylesheet" href="/css/huodong.css">


<div class="container">
	<button class="online">线上</button>
	<button class="unline">线下</button>
	<button class="sheji">设计大赛</button>

	<div class="container">
		<div class="bt">
			<div class="title1">
				<img src="./imgs/0085c7599fc88ca8012028a978155b.jpg@260w_195h_1c_1e_1o_100sh copy (2).png" alt="">
				<span class="pingxuan">优秀教师评选</span><br><br>
				<span class="feihua2">
					优秀教师评选节了，一年一次的教师节评选对学生和教师来说都很重要，<br>评选出优秀的教师以此鼓励，调动教师的积极性，添加学习的趣味性，让学习更有趣。
				</span>
				<a class="guize btn">活动规则</a>
				<a class="jincheng btn">赛制进程</a>
			</div>
			<div class="title1">
				<img src="./imgs/2.jpg@260w_195h_1c_1e_1o_100sh copy.png" alt="">
				<span class="pingxuan">优秀教师评选</span><br><br>
				<span class="feihua2">
					优秀教师评选节了，一年一次的教师节评选对学生和教师来说都很重要，<br>评选出优秀的教师以此鼓励，调动教师的积极性，添加学习的趣味性，让学习更有趣。
				</span>
				<a class="guize btn">活动规则</a>
				<a class="jincheng btn">赛制进程</a>
			</div>
			<div class="title1">
				<img src="./imgs/4.jpg@260w_195h_1c_1e_1o_100sh copy 2.png" alt="">
				<span class="pingxuan">优秀教师评选</span><br><br>
				<span class="feihua2">
					优秀教师评选节了，一年一次的教师节评选对学生和教师来说都很重要，<br>评选出优秀的教师以此鼓励，调动教师的积极性，添加学习的趣味性，让学习更有趣。
				</span>
				<a class="guize btn">活动规则</a>
				<a class="jincheng btn">赛制进程</a>
			</div>
			<div class="title1">
				<img src="./imgs/4.jpg@260w_195h_1c_1e_1o_100sh copy 2.png" alt="">
				<span class="pingxuan">优秀教师评选</span><br><br>
				<span class="feihua2">
					优秀教师评选节了，一年一次的教师节评选对学生和教师来说都很重要，<br>评选出优秀的教师以此鼓励，调动教师的积极性，添加学习的趣味性，让学习更有趣。
				</span>
				<a class="guize btn">活动规则</a>
				<a class="jincheng btn">赛制进程</a>
			</div>
		</div>
		<div class="content1">
			<div class="oneimg">
				<img src="./imgs/0085c7599fc88ca8012028a978155b.jpg@260w_195h_1c_1e_1o_100sh copy.png" alt="">
				<div class="jieshao1">
					<span class="piao">一张照片的奇幻漂流</span>
					<span class="fenxiang">分享</span>
					<div class="huodongjs">
						<span>活动时间:</span><span>2017-9-22-2017-9-26</span>
						<span>活动类型:</span><span>设计练习</span>
						<span class="cehua">活动策划:</span><span class="time1">1天前</span>
					</div>
					<div class="feihua">
						我们正在策划“一张照片的奇幻漂流”，想看看不同设计师如何玩转同一张图片，直到我们看到了这张照片，就是它！一张漂流的海报大战一触即发。请用指定照片合成一张设计主题的大片海报。备选片名《安静的漂流》 《奇幻漂流》 《安静的湖面》 等等，期待你的脑洞，感谢摄影师提供的照片。<span><a href="">点击这里下载活动照片</a></span>
					</div>	
					<a class="xiazai btn">下载</a>
					<a class="shangchuan btn">上传</a>
				</div>
			</div>
			<div class="fourimg">
				<div class="four1">
					<img src="./imgs/Rectangle 13.png" alt="">
					<span class="s1">Poster Practice ] 渐变海报</span><br>    
					<span class="s2">ps-海报合成</span><br>    
					<span class="s3">
						<img src="./imgs/1 copy.png" alt="">
						UIDWORKS
					</span>
				</div>
				<div class="four1">
					<img src="./imgs/Rectangle 131.png" alt="">
					<span class="s1">Poster Practice ] 渐变海报</span><br>    
					<span class="s2">ps-海报合成</span><br>    
					<span class="s3">
						<img src="./imgs/1 copy.png" alt="">
						UIDWORKS
					</span>
				</div>
				<div class="four1">
					<img src="./imgs/Rectangle 133.png" alt="">
					<span class="s1">Poster Practice ] 渐变海报</span><br>    
					<span class="s2">ps-海报合成</span><br>    
					<span class="s3">
						<img src="./imgs/1 copy.png" alt="">
						UIDWORKS
					</span>
				</div>
				<div class="four1">
					<img src="./imgs/Rectangle 135.png" alt="">
					<span class="s1">Poster Practice ] 渐变海报</span><br>    
					<span class="s2">ps-海报合成</span><br>    
					<span class="s3">
						<img src="./imgs/1 copy.png" alt="">
						UIDWORKS
					</span>
				</div>
			</div>
			<div class="pinglun">
				<input type="text" placeholder="说点什么">
				<button class="fangpi">评论</button>
			</div>
		</div>
	</div>
</div>
	
<% include layouts/footer %>
<script src="/js/huodong.js"></script>