<% include layouts/header %>
<link rel="stylesheet" href="/css/likecourse.css">
<script src="/js/likecourse.js"></script>
<div id="course-wrap" class="container">
	<div class="col-md-12">
		<div id="like-imgs" class="col-md-6">
			<img src="/imgs/59535e1e56eeb.png" alt="">
		</div>
		<div class="col-md-6 duihuakuang">
			<img src="/imgs/duihuakuang.png" alt="">
			<div>
				快选择你想学
				<br>
				习的课程吧
			</div>
		</div>
	</div>

	<!-- 课程列表 -->
	<div class="col-md-12 course-list">
		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>

		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19-Copy.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>

		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19-Copy-2.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>

		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19-Copy-3.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>

		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19-Copy-112.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>

		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19-Copy-113.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>

		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19-Copy-114.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>

		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19-Copy-115.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>

		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19-Copy-116.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>

		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19-Copy-117.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>

		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19-Copy-118.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>

		<div class="col-md-3 course">
			<img src="/imgs/Rectangle-19.png" alt="">
			<span id="xuanzhe">
				<img src="/imgs/duigou-weixuanzhong.png" alt="">
			</span>
		</div>
	</div>
	<!-- 此位置连接用于连接后面页面 -->
	<div class="col-md-6 text-right">
		<a href="/shaixuan" class="btn btn-primary">点击确定</a>
	</div>

	<div class="col-md-6">
		<a href="#" class="btn btn-primary">跳过</a>
	</div>
</div>


<% include layouts/footer %>