<% include layouts/header%>
<!--私人定制内容部分-->
<link rel="stylesheet" href="/css/Personal_Tailor.css">

<div id="shirendingzi" class="container">
    <div class="tailor_center">
        <div class="navLeft col-md-2">
            <dl class="study">
                <dt>学习教程</dt>
                <dd class="padd_left">画笔</dd><dd>钢笔</dd><dd>橡皮</dd> 
                <dd class="padd_left">画笔</dd><dd>钢笔</dd><dd>橡皮</dd>
                <dd class="padd_left">画笔</dd><dd>钢笔</dd><dd>橡皮</dd>
            </dl>
            <dl class="training_battalion">
                <dt>训练营</dt>
                <dd class="padd_left">画笔</dd><dd>钢笔</dd><dd>橡皮</dd>
                <dd class="padd_left">画笔</dd><dd>钢笔</dd><dd>橡皮</dd>
                <dd class="padd_left">画笔</dd><dd>钢笔</dd><dd>橡皮</dd>
            </dl>
            <dl class="test">
                <dt>考核</dt>
                <dd class="padd_left">画笔</dd><dd>钢笔</dd><dd>橡皮</dd>
                <dd class="padd_left">画笔</dd><dd>钢笔</dd><dd>橡皮</dd>
                <dd class="padd_left">画笔</dd><dd>钢笔</dd><dd>橡皮</dd>
            </dl>
        </div>
        <div class="banner col-md-7"></div>
        <div class="right col-md-3"></div>
    </div>
    <p class="excel">学习教程</p>
    <div class="excel_con">
        <ul class="list-unstyled">
            <li class="col-md-3">
                <img src="/imgs/Bitmap1.png" class="one">
                <span>18:05</span>
                <dl class="dl-horizontal">
                    <dt><img src="/imgs/s-shipin2.jpg"></dt>
                    <dd class="first">第一节：PS工具的使用</dd>
                    <dd>画笔、钢笔、橡皮擦的运用</dd>
                </dl>
            </li>
            <li class="col-md-3">
                <img src="/imgs/Bitmap5.png" class="one">
                <dl class="dl-horizontal">
                    <dt><img src="/imgs/s-shipin2.jpg"></dt>
                    <dd class="first">第一节：PS工具的使用</dd>
                    <dd>画笔、钢笔、橡皮擦的运用</dd>
                </dl>
            </li>
            <li class="col-md-3">
                <img src="/imgs/Bitmap6.png" class="one">
                <dl class="dl-horizontal">
                    <dt><img src="/imgs/s-shipin2.jpg"></dt>
                    <dd class="first">第一节：PS工具的使用</dd>
                    <dd>画笔、钢笔、橡皮擦的运用</dd>
                </dl>
            </li>
            <li class="col-md-3">
                <img src="/imgs/Bitmap7.png" class="one">
                <dl class="dl-horizontal">
                    <dt><img src="/imgs/s-shipin2.jpg"></dt>
                    <dd class="first">第一节：PS工具的使用</dd>
                    <dd>画笔、钢笔、橡皮擦的运用</dd>
                </dl>
            </li>
            <li class="col-md-3">
                <img src="/imgs/Bitmap1.png" class="one">
                <dl class="dl-horizontal">
                    <dt><img src="/imgs/s-shipin2.jpg"></dt>
                    <dd class="first">第一节：PS工具的使用</dd>
                    <dd>画笔、钢笔、橡皮擦的运用</dd>
                </dl>
            </li>
            <li class="col-md-3">
                <img src="/imgs/Bitmap5.png" class="one">
                <dl class="dl-horizontal">
                    <dt><img src="/imgs/s-shipin2.jpg"></dt>
                    <dd class="first">第一节：PS工具的使用</dd>
                    <dd>画笔、钢笔、橡皮擦的运用</dd>
                </dl>
            </li>
            <li class="col-md-3">
                <img src="/imgs/Bitmap6.png" class="one">
                <dl class="dl-horizontal">
                    <dt><img src="/imgs/s-shipin2.jpg"></dt>
                    <dd class="first">第一节：PS工具的使用</dd>
                    <dd>画笔、钢笔、橡皮擦的运用</dd>
                </dl>
            </li>
            <li class="col-md-3">
                <img src="/imgs/Bitmap7.png" class="one">
                <dl class="dl-horizontal">
                    <dt><img src="/imgs/s-shipin2.jpg"></dt>
                    <dd class="first">第一节：PS工具的使用</dd>
                    <dd>画笔、钢笔、橡皮擦的运用</dd>
                </dl>
            </li>
        </ul>
        <button class="btn P-btn center-block" style="background:#0e57c2;">查看更多</button>
    </div>
</div>
<% include layouts/footer%>