<% include layouts/header %>
<!-- 引入css文件 -->
<link rel="stylesheet" href="/css/shouye.css">

<div class="container" id="app-top">
    <div class="col-md-12">
        <button class="btn btn-primary">全部</button>
        <button class="btn btn-primary">基础工具</button>
        <button class="btn btn-primary">配色工具</button>
        <button class="btn btn-primary">裁剪工具</button>
    </div>
</div>

<div class="container" id="app-cont">
    <div class="app-cont-ps col-md-6">
        <div class="app-cont-ps-lt">
            <img src="/imgs/4.png" alt="">
            <p>发布时间 : 2017-04-20</p>
        </div>
        <div class="app-cont-ps-gt">
            <button class="btn btn-danger"style="margin-left:45px">WIN版下载</button>
            <button class="btn btn-danger" style="margin-left:30px">MAC版下载</button>

        </div>
        <div style="clear:both"></div>

        <img src="/imgs/datu (4).png" alt="">
        <span>软件详情：</span>
        <p>2013年7月，Adobe公司推出最新版本photoshop——Photoshop CC (Creative Cloud) 。除去photoshop CS6中所包含的功能，Photoshop CC新增相机防抖动功能，CameraRAW功能改进、图像提升采样、属性面板改进、Behance集成等功能，以及Creative Cloud，即云功能</p>
    </div>
    <div class="app-cont-ps col-md-6">
        <div class="app-cont-ps-lt">
            <img src="/imgs/2.png" alt="">
            <p>发布时间 : 2017-04-20</p>
        </div>
        <div class="app-cont-ps-gt">
            <button class="btn btn-danger"style="margin-left:45px">WIN版下载</button>
            <button class="btn btn-danger" style="margin-left:30px">MAC版下载</button>

        </div>
        <div style="clear:both"></div>

        <img src="/imgs/datu (1).png" alt="">
        <span>软件详情：</span>
        <p>2013年7月，Adobe公司推出最新版本photoshop——Photoshop CC (Creative Cloud) 。除去photoshop CS6中所包含的功能，Photoshop CC新增相机防抖动功能，CameraRAW功能改进、图像提升采样、属性面板改进、Behance集成等功能，以及Creative Cloud，即云功能</p>
    </div>
    <div class="app-cont-ps col-md-6">
        <div class="app-cont-ps-lt">
            <img src="/imgs/3.png" alt="">
            <p>发布时间 : 2017-04-20</p>
        </div>
        <div class="app-cont-ps-gt">
            <button class="btn btn-danger"style="margin-left:45px">WIN版下载</button>
            <button class="btn btn-danger" style="margin-left:30px">MAC版下载</button>

        </div>
        <div style="clear:both"></div>

        <img src="/imgs/datu (3).png" alt="">
        <span>软件详情：</span>
        <p>2013年7月，Adobe公司推出最新版本photoshop——Photoshop CC (Creative Cloud) 。除去photoshop CS6中所包含的功能，Photoshop CC新增相机防抖动功能，CameraRAW功能改进、图像提升采样、属性面板改进、Behance集成等功能，以及Creative Cloud，即云功能</p>
    </div>
    <div class="app-cont-ps col-md-6">
        <div class="app-cont-ps-lt">
            <img src="/imgs/1.png" alt="">
            <p>发布时间 : 2017-04-20</p>
        </div>
        <div class="app-cont-ps-gt">
            <button class="btn btn-danger"style="margin-left:45px">WIN版下载</button>
            <button class="btn btn-danger" style="margin-left:30px">MAC版下载</button>

        </div>
        <div style="clear:both"></div>

        <img src="/imgs/datu (2).png" alt="">
        <span>软件详情：</span>
        <p>2013年7月，Adobe公司推出最新版本photoshop——Photoshop CC (Creative Cloud) 。除去photoshop CS6中所包含的功能，Photoshop CC新增相机防抖动功能，CameraRAW功能改进、图像提升采样、属性面板改进、Behance集成等功能，以及Creative Cloud，即云功能</p>
    </div>
    <div id="text-anniu">
        <div class="btn btn-primary">
            <a href="/shouce1">查看更多</a>
        </div>
    </div>
</div>
<% include layouts/footer %> 