<% include layouts/header %>
<link rel="stylesheet" href="/css/shaixuan.css">
<script src="/js/shaixuan.js"></script>
<div id="shaixuan-wrap" class="container">
	<div class="col-md-12">
		<div id="like-imgs" class="col-md-6">
			<img src="/imgs/59535e1e56eeb.png" alt="">
		</div>
		<div class="col-md-6 duihuakuang">
			<img src="/imgs/duihuakuang.png" alt="">
			<div>
				让学习从这儿
				<br>
				启程吧
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<form action="/" class="form-horizontal">
			<div class="form-group">
				<h5 class="title">1) 目前职业状态 *（必填，单选）</h5>
				<div class="radio">
				  <label>
				  	<div class="xuanzhong"></div>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;在校学生
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;待业应届生
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;平面/广告设计师
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;网页/互动设计师
				  </label>
				</div>
				
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;淘宝/电商设计师
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;三维设计师
				  </label>
				</div>
				
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;UI设计师
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;其他领域行业
				  </label>
				</div>

			</div>

			<div class="form-group">
				<h5 class="title">2) 目前所在城市？  *（必填，单选）</h5>
				<div class="radio">
				  <label>
				  	<div class="xuanzhong"></div>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;北京
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;上海
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;杭州
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;广州
				  </label>
				</div>
				
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;深圳
				  </label>
				</div>


				<div class="radio">
				  <label>
				   
				    &nbsp;&nbsp;&nbsp;其他
				  </label>
				</div>

			</div>


			<div class="form-group">
				<h5 class="title">3) 参加过哪种培训班*（必填，多选，至少选一项，最多选三项）</h5>
				<div class="checkbox">
				  <label>
				  	<!-- <div class="xuanzhong"></div> -->
				    <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;从未参加
				  </label>
				</div>

				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;Photoshop软件培训
				  </label>
				</div>

				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;平面设计
				  </label>
				</div>

				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;网页设计
				  </label>
				</div>
				
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;UI培训
				  </label>
				</div>

				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;3Dmax培训
				  </label>
				</div>
				
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;其他培训
				  </label>
				</div>

			</div>

			<div class="form-group">
				<h5 class="title">4) 自学成长状态  *（必填，单选）</h5>
				<div class="radio">
				  <label>
				  	<!-- <div class="xuanzhong"></div> -->
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;飞速提升，看到自己每天都在成长
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;略有效果，比一个月前自己有些成长
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;颇感吃力，有些成长但不够明显
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;止步不前，付出很多但感觉不到进步
				  </label>
				</div>
				
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    &nbsp;&nbsp;&nbsp;期望帮助，希望有大神、师傅指导
				  </label>
				</div>

			</div>

			<!-- 此位置连接用于连接后面页面 -->
			<div class="col-md-12 shaixuan-dibu">
				<div class="col-md-6 text-right">
					<a href="/" class="btn btn-primary">点击确定</a>
				</div>

				<div class="col-md-6">
					<a href="/" class="btn btn-primary">跳过</a>
				</div>
			</div>
			
		</form>
	</div>	
</div>


<% include layouts/footer %>