<% include layouts/header %>
<!-- 引入css文件 -->
<link rel="stylesheet" href="/css/shouye.css">


<div class="container" id="shouce">
    <div class="shouce-left col-md-8">
        <h4>ps系列!零基础入门</h4>
        <div class="shou-lt-lt col-md-9">
            <div class="col-md-2">
                <p>类别:ps</p>
                
                
            </div>
            <div class="col-md-3">
                
                    <p>系列:5篇</p>
                                 
                
            </div>
            <div class="col-md-3">
                
                    <p>水平:入门</p>
                                  
                
            </div>
            <div class="col-md-4">
                <p>时间:2017-09-11</p>
            </div>
              
        </div>
        <h4>教程章节 (ps)</h4>
        <div class="col-md-12 psxl">
            <h5>ps系列!零基础入门</h5>
        </div>
        <div class="col-md-12 ps-cont">
            <a href="" class="col-md-12 psc-one">
                <div class="col-md-4 psc-one1">
                    <i>
                        <img src="/imgs/wenben.png" alt="">
                    </i>&nbsp;&nbsp;
                    <span>Lesson1</span></div>
                <div class="col-md-8 psc-one2">
                    <span>零基础设计入门: 图片篇</span>
                </div>

            </a>
            <a href="" class="col-md-12 psc-one">
                <div class="col-md-4 psc-one1">
                    <i>
                        <img src="/imgs/wenben.png" alt="">
                    </i>&nbsp;&nbsp;
                    <span>Lesson2</span></div>
                <div class="col-md-8 psc-one2">
                    <span>零基础设计入门: 图片篇</span>
                </div>

            </a>
            <a href="" class="col-md-12 psc-one">
                <div class="col-md-4 psc-one1">
                    <i>
                        <img src="/imgs/wenben.png" alt="">
                    </i>&nbsp;&nbsp;
                    <span>Lesson3</span></div>
                <div class="col-md-8 psc-one2">
                    <span>零基础设计入门: 图片篇</span>
                </div>

            </a>
            <a href="" class="col-md-12 psc-one">
                <div class="col-md-4 psc-one1">
                    <i>
                        <img src="/imgs/wenben.png" alt="">
                    </i>&nbsp;&nbsp;
                    <span>Lesson4</span></div>
                <div class="col-md-8 psc-one2">
                    <span>零基础设计入门: 图片篇</span>
                </div>

            </a>
            <a href="" class="col-md-12 psc-one">
                <div class="col-md-4 psc-one1">
                    <i>
                        <img src="/imgs/wenben.png" alt="">
                    </i>&nbsp;&nbsp;
                    <span>Lesson5</span></div>
                <div class="col-md-8 psc-one2">
                    <span>零基础设计入门: 图片篇</span>
                </div>

            </a>
            <a href="" class="col-md-12 psc-one">
                <div class="col-md-4 psc-one1">
                    <i>
                        <img src="/imgs/wenben.png" alt="">
                    </i>&nbsp;&nbsp;
                    <span>Lesson6</span></div>
                <div class="col-md-8 psc-one2">
                    <span>零基础设计入门: 图片篇</span>
                </div>

            </a>
            <a href="" class="col-md-12 psc-one">
                <div class="col-md-4 psc-one1">
                    <i>
                        <img src="/imgs/wenben.png" alt="">
                    </i>&nbsp;&nbsp;
                    <span>Lesson7</span></div>
                <div class="col-md-8 psc-one2">
                    <span>零基础设计入门: 图片篇</span>
                </div>

            </a>
            <a href="" class="col-md-12 psc-one">
                <div class="col-md-4 psc-one1">
                    <i>
                        <img src="/imgs/wenben.png" alt="">
                    </i>&nbsp;&nbsp;
                    <span>Lesson8</span></div>
                <div class="col-md-8 psc-one2">
                    <span>零基础设计入门: 图片篇</span>
                </div>

            </a>

          <!--   <div class="col-md-12 ps-kank">
                <a href="/shouce2" class="btn btn-primary">查看更多</a>
            </div> -->
            
        </div>
    </div>
    <div class="shouce-right col-md-4">
        <div class="sr-top">
            <div class="col-md-7 sr-top-left">
            <a href=""><img src="/imgs/datou.png" alt="">
                <p style="margin-top:30px;">基础训练营官方账号</p>
                <p>已发布教程 128 篇</p></a>
                
            </div>
            <div class="col-md-5 sr-top-right">
                <a href=""><p>基础训练营</p>
                <img src="/imgs/w.png" alt="" style="margin-top:20px;">
                <img src="/imgs/q.png" alt="" style="margin-top:20px; margin-left:10px;"></a>
            </div>
        </div>

        <div class="sr-btm col-md-12">
            <h4 class="text-center">最近文章</h4>
            <div><button class="btn">1</button><span>像素画教程合集+像素画神器</span></div>
            <div><button class="btn">2</button><span>像素画小Tips!实时预览窗口</span></div>
            <div><button class="btn">3</button><span>经验分享!教你选择</span></div>

            <img src="/imgs/books.png" alt="">
        </div>
    </div>  

        
    
</div>


<% include layouts/footer %> 