<% include layouts/header%>
<link rel="stylesheet" href="/css/Personal_Tailor.css">
<div class="container sty_container">
    <div class="col-md-2 sty_curriculums">
        <ul class="list-group sty_left">
            <li class="list-group-item sty_bai">
                <img src="/imgs/s-shu.png">
                全部课程
            </li>
            <li class="list-group-item sty_hui">
                <img src="/imgs/s-chong.png">
                PhotoShop
            </li>
            <li class="list-group-item">
                <img src="/imgs/s-chong.png">
                Adobe Illustrotor
            </li>
            <li class="list-group-item sty_hui">
                <img src="/imgs/s-chong.png">
                Adobe Effectss
            </li>
            <li class="list-group-item">
                <img src="/imgs/s-chong.png">
                Azure RP
            </li>
            <li class="list-group-item sty_hui">
                <img src="/imgs/s-chong.png">
                Sketch
            </li>
            <li class="list-group-item">
                <img src="/imgs/s-chong.png">
                Adobe
            </li>
            <li class="list-group-item sty_hui">
                <img src="/imgs/s-chong.png">
                快捷键查询
            </li>
            <li class="list-group-item">
                <img src="/imgs/s-chong.png">
                笔记梳理
            </li>
            <li class="list-group-item sty_hui">
                <img src="/imgs/s-chong.png">
                插件工具
            </li>
            <li class="list-group-item sty_li">
                <img src="/imgs/s-chong.png">
                素材库
            </li>
        </ul>
    </div>
    <div class="sty_contain">
        <p class="sty_top"><img src="/imgs/s-chong.png">PhotoShop</p>
        <div class="sty_line"></div>
        <div class="sty_com">
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
        </div>
        <p class="sty_top"><img src="/imgs/s-chong.png">PhotoShop</p>
        <div class="sty_line"></div>
        <div class="sty_com">
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
            <div class="sty_matting">
                <h4>学习抠图</h4>
                <dl>
                    <dt><img src="/imgs/s-bijiben.png"></dt>
                    <dd>水果、毛发等抠图联系，抠图的各种场景应用</dd>
                </dl>
            </div>
        </div>
        <button class="btn P-btn center-block sty_btn" style="background:#0e57c2;">查看更多</button>
    </div>



</div>
<% include layouts/footer%>