<% include layouts/header%>
<div class="container">
    <div class="tran_con">
        <div class="tran_top">
            <div class="col-md-5">
                <img src="/imgs/s-yashilandai.png" class="tran_img">
            </div>
            <div class="col-md-3">
                <div class="h4">第十五期 PS-兰蔻小黑瓶精修</div>
                <p>每周四上午十点准时发布最新每周一练</p>
                <p>发布时间：2017-09-21</p>
                <p>难度等级：高级</p>
                <p>关键词：综合设计 产品精修 PS</p>
                <button class="btn">查看详情</button>
                <button class="btn">上传作品</button>
                <p>截止时间：0天12小时18分</p>
            </div>
            <div class="col-md-4">
                <div class="tran_lookUp">查看往期</div>
                <div class="tran_introduce">
                    <div class="tran_top"></div>
                    <dl class="tran_dl">
                        <dt>
                            <img src="/imgs/s-tou.png"  class="center-block">
                        </dt>
                        <dd class="text-center tran_big">讲师：回话</dd>
                        <dd class="text-center">关注人数：</dd>
                        <dd class="text-center">806</dd>
                    </dl>
                    <p class="tran_P">电商视觉设计师，2010年入行，历经服饰鞋包、日用百货、数码家电、等</p>
                    <button class="tran_follow center-block">关注</button>
                </div>
            </div>
        </div>
        <div class="tran_bottom">
            <div class="col-md-8">
                <div class="tran_suggest">1.注意玻璃材质的光影打造 2.上部分是金色材质的打造 3.中部分是透明材质的打造 4.下部分是底部光影的塑造</div>
                <div class="tran_prize">
                    本期大奖：人气奖（3名）、专业奖（1名）、持之以恒奖（若干名）、阳光普照奖（若干名）、人气奖：点赞top3.奖品为：第一名手绘板、第二名分类VIP人选、第三名分类VIP人选、专业奖：评为标准①最终视觉效果及完整度②细节处理③创意发散；评奖人：本次教程讲师和UI+内容组。奖品为：手绘板</br>
持之以恒奖：连续参加四期每周一切认真完成练习的一个户即可的。奖品为：+30天全站VIP<br>
阳光普照奖：本期饭认真体检练习座屏切作品点赞数超过10的足额元即可获得。奖品为：+3天全站VIP
                </div>
            </div>
            <div class="col-md-4 tran_award">
                <p>本期奖品：</p>
                <img src="/imgs/s-tran.png" class="center-block">
                <button class="btn center-block">查看详情</button>
            </div>
        </div>

    </div>
</div>
<% include layouts/footer%>