<% include layouts/header %>
<!-- 引入css文件 -->
<link rel="stylesheet" href="/css/shouye.css">

<!-- 创意水上视频 play-->

<!-- 路径条开始 -->

<div class="container woter">
    <div>
        <img src="/imgs/weizhi.png" alt="">&nbsp;&nbsp;当前位置&nbsp;:&nbsp;学习>综合设计>
        <span>PS-创意水上运动特效</span>
    </div>
</div>
<!-- 路径条结束 -->

<!-- 视频模块开始 -->
<div class="container" id="woter-play">
    <div class="wp-img col-md-8">
        <img src="/imgs/woter.jpg" alt="" title="点击播放">
        <div class="wp-img-btm">
            <span>分享给朋友 : </span>
            <i><a href="javascript:;"><img src="/imgs/qq(2).png" alt=""></a></i>
            <i><a href="javascript:;"><img src="/imgs/huaban(2).png" alt=""></a></i>
            <i><a href="javascript:;"><img src="/imgs/weibo(2).png" alt=""></a></i>
            <i><a href="javascript:;"><img src="/imgs/weixin(2).png" alt=""></a></i>
            <i><a href="javascript:;"><img src="/imgs/kongjian(1).png" alt=""></a></i>

            <a href="#" class="shoucang"> 
                <img src="/imgs/xing.png" alt="">
                <span>收藏</span>
            </a>
        </div>
    </div>
    <div class="wp-right col-md-4">
        <div class="wpr-top">
            <i><img src="/imgs/xinzechen.png" alt="" class="img-circle"></i>
            <div>
                <h5>讲师 : 辛泽晨</h5>
                <p>关注人数 : 1200</p>
            </div>
            <a href="#">
                <i><img src="/imgs/xin.png" alt=""></i>
                <span>关注</span>
            </a>
        </div>
        <div class="wpr-anniu">
            <a href="/ruanjian" class="btn">下载源文件</a>&nbsp;&nbsp;
            <a href="#" class="btn">下载本课素材</a>
        </div>
        <div class="wpr-text">
            <p>使用软件 : PS(CC2017)</p>
            <p>难度等级 : 初级</p>
            <p>视频时长 : 31分59秒</p>
            <p>浏览人数 : 135</p>
            <p>学习人数 : 46</p>
            <p>更新时间 : 2017/09/24</p>
            <span style="color:#CCCCC7">工具和快捷键 : </span>
            <p style="color:#fff">PS-移动工具 &nbsp;PS-画笔工具 &nbsp;PS-钢笔工具 &nbsp;&nbsp;&nbsp;<span style="color:#707070;">盖印(Ctrl+Alt+Shift+E)</span> &nbsp;&nbsp;&nbsp;PS-图层蒙版 &nbsp;PS-色阶 &nbsp;PS-剪切蒙版和快速...</p>
        </div>
    </div>
</div>

<div class="container kongbai">
    
</div>
<!-- 图文详情开始 -->
<div class="container" id="video-bottom">
    <div class="video-btm-left">
        <div class="vid-btm-top">
            <span>图文详情</span>
            <span>学员评价(122)</span>
            <div class="huadao">
                <div class="huatiao"></div>
            </div>
        </div>
        <div class="vid-btm-cont">
            <div class="vid-btm-cont-one">
                <h5>1.[打开] PS 软件，[新建] 任意大小的画布。具体效果如下图所示</h5>
                <div><img src="/imgs/gongju.jpg" alt=""></div>
                
            </div>
        </div>
        <div class="vid-btm-cont">
            <div class="vid-btm-cont-one">
                <h5>2.[选择]背景图层，[填充]湖蓝色。具体效果如下图所示</h5>
                <div><img src="/imgs/gongju2.jpg" alt=""></div>
                
            </div>
        </div>
        <div class="vid-btm-cont">
            <div class="vid-btm-cont-one">
                <h5>3.[打开] PS 软件，[新建] 任意大小的画布。具体效果如下图所示</h5>
                <div><img src="/imgs/gongju3.jpg" alt=""></div>
                
            </div>
        </div>
        <div class="vid-btm-cont">
            <div class="vid-btm-cont-one">
                <h5>4.[打开] PS 软件，[新建] 任意大小的画布。具体效果如下图所示</h5>
                <div><img src="/imgs/gongju4.jpg" alt=""></div>
                
            </div>
        </div>
        <div class="kanyu"> 
            <button class="btn btn-priwary center-block">查看剩余</button>
        </div>
    </div>
    <div class="video-btm-right">
        <div class="vbr-top">
            <i></i>
            <span>推荐课程</span>
        </div>
        <div class="vbr-wrap">
            <div class="vbr-center">
                <div class="vbr-center1">
                    <a href="#">
                        <img src="/imgs/111.jpg" alt="">
                        <p>PS-界面和工作区</p>
                    </a>    
                </div>
                <div class="vbr-center1"  style="margin-left:10px">
                    <a href="#">
                        <img src="/imgs/1112.jpg" alt="">
                        <p>盛大开业</p>
                    </a>    
                </div>
                <div class="vbr-center1">
                    <a href="#">
                        <img src="/imgs/1113.jpg" alt="">
                        <p>PS-啤酒盛夏合成...</p>
                    </a>
                </div>
                <div class="vbr-center1" style="margin-left:10px">
                    <a href="#">
                        <img src="/imgs/1114.jpg" alt="">
                        <p>CDR-认识软件的...</p>
                    </a>
                       
                </div>
                <div class="vbr-center1">
                    <a href="#">
                        <img src="/imgs/1115.jpg" alt="">
                        <p>AE-形状工具</p>
                    </a>
                   
                </div>
                <div class="vbr-center1" style="margin-left:10px">
                    <a href="">
                        <img src="/imgs/1116.jpg" alt="">
                        <p>PS-化妆品产品精修</p>
                    </a>
                    
                </div>
            </div>
        </div>

        <div class="vbr-btm">
            <div class="vbr-top">
                <i></i>
                <span>视频学习动态</span>
            </div>
            <div class="vbr-btm-content">
                <div>
                    <img src="/imgs/xinzechen.png" alt="" class="img-circle">
                    <div>
                        <span>辛泽晨</span>&nbsp;&nbsp;&nbsp;
                        <i><img src="/imgs/zuanshi(1).png" alt=""></i>&nbsp;
                        <span style="color:#515151;">1分钟前</span>
                        <p>CDA-圆的绘制</p>
                    </div>
                </div>
                <div>
                    <img src="/imgs/laohu.jpg" alt="" class="img-circle">
                    <div>
                        <span>老胡</span>&nbsp;&nbsp;&nbsp;
                        <i><img src="/imgs/zuanshi(1).png" alt=""></i>&nbsp;
                        <span style="color:#515151;">1分钟前</span>
                        <p>CDA-圆的绘制</p>
                    </div>
                </div>
                <div>
                    <img src="/imgs/kang.jpg" alt="" class="img-circle">
                    <div>
                        <span>猥琐康</span>&nbsp;&nbsp;&nbsp;
                        <i><img src="/imgs/zuanshi(1).png" alt=""></i>&nbsp;
                        <span style="color:#515151;">1分钟前</span>
                        <p>CDA-圆的绘制</p>
                    </div>
                </div>
                <div>
                    <img src="/imgs/laohu.jpg" alt="" class="img-circle">
                    <div>
                        <span>老胡2号</span>&nbsp;&nbsp;&nbsp;
                        <i><img src="/imgs/zuanshi(1).png" alt=""></i>&nbsp;
                        <span style="color:#515151;">1分钟前</span>
                        <p>CDA-圆的绘制</p>
                    </div>
                </div>
                <div>
                    <img src="/imgs/xinzechen.png" alt="" class="img-circle">
                    <div>
                        <span>老辛2号</span>&nbsp;&nbsp;&nbsp;
                        <i><img src="/imgs/zuanshi(1).png" alt=""></i>&nbsp;
                        <span style="color:#515151;">1分钟前</span>
                        <p>CDA-圆的绘制</p>
                    </div>
                </div>
            </div>
            <div class="vbr-guangao">
                <a href="">
                    <img src="/imgs/hggg.jpg" alt="" title="请点击查看">
                </a>                
            </div>
        </div>
    </div>   
</div>


<script src="/js/video.js"></script>


<% include layouts/footer %> 