body{
	background:#1D1F25;
	min-width:1200px;
}
#dengbu{
	height:90px;
	line-height:90px;
	font-size:18px;
}
#dengbu-logo>a{
	text-decoration:none;
}
#dengbu-logo>a>img{
	width:65px;
	display:inline-block;
}
#dengbu-logo>a>p{
	display:inline-block;
	margin-left:15px;
	color:#fff;
}
#dengbu-logo>a>p:hover{
	color:#0e57c2;
}
.denglu-right{
	display:inline-block;
	padding:0 10px;
	height:30px;
	border:1px solid #050506;
	line-height:30px;
	color:#fff;
}
.denglu-right:hover{
	text-decoration:none;
}
.denglu-right-denglu-xiazai{
	width:115px;
	text-align:center;
	margin-left:65%;
	margin-right:25px;
	background:#0e57c2;
}
.denglu-right-denglu{
	color:#ccc;
	font-size:16px;
}

#navList{
	height:45px;
	line-height:45px;
}
#navList>li:nth-of-type(1){
	margin-left:50px;
}
#navList>li+li{
	margin-left:75px;
}
#navList>.navActive>a{
	color:#0e57c2;
}
#navList>li>a{
	font-size:18px;
	color:#fff;
}

.navbar-default>#navshousuo{
	margin-right:45px;
}
.navbar-default>#navshousuo>.form-group>.form-control{
	width:250px;
	height:30px;
	border:1px solid #3D4452;
	background-color:#21242B;
}
.navbar-default>#navshousuo>.form-group{
	position:relative;
}
.fontwrap{
	position:absolute;
	top:0;
	right:0;
	float:none;
	display:inline-block;
	width:30px;
	height:30px;
	background:#3D4452;
	border:1px solid #3D4452;
	text-align:center;

}
.fontwrap>span{
	font-size:20px;
	margin-top:3px;
}